# IDE
.vscode/
.idea/
*.swp
*.swo
*.cursorrules

# OS
.DS_Store
Thumbs.db

# Bitburner specific
# Falls Sie temporäre Dateien oder Backups haben möchten
*.bak
*.tmp

# Savegames
*.json.gz

# Types
#types/

# Test directory
bitburner-home/test/

# Bitburner directories to ignore
bitburner-home/*
!bitburner-home/src/
!bitburner-home/util/
!bitburner-home/git-init.js
!bitburner-home/start.js

# Ignore specific directories
bitburner-home/alter-kram-mal-anschauen/

