# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*.cursorrules

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Bitburner specific
# Falls Sie temporäre Dateien oder Backups haben möchten
*.bak
*.tmp

# Savegames
*.json.gz

# Types
types/
