# IDE
.vscode/
.idea/
*.swp
*.swo
*.cursorrules

# OS
.DS_Store
Thumbs.db

# Bitburner specific
# Falls Sie temporäre Dateien oder Backups haben möchten
*.bak
*.tmp

# Savegames
*.json.gz

# Types
#types/

# Bitburner directories to ignore, exept of ...
bitburner-home/*
!bitburner-home/src/
!bitburner-home/util/
!bitburner-home/git-init.js
!bitburner-home/start.js
!bitburner-home/n00dleHacker.js
!bitburner-home/n00dle-init.js

# Sonstiges
plan_*.md
